{% extends '@Sl24/index.html.twig' %}

{% block title %}StarLife 24{% endblock %}

{% block body %}
    <div class="spinner-block" ng-show="app.spinner">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

    <div ng-cloak ng-view ng-hide="app.spinner"></div>
{% endblock %}

{% block JavaScripts %}
    {{ parent() }}
    <script>
        var URLS = {
            'asset': "{{ asset('') }}",
            'getTasks': "{{ path('sl_24_get_tasks') }}",
            'urlGetTask': "{{ path('sl_24_get_task', {'task_id': 'task_id'}) }}",
            'urlGetStatuses': "{{ path('sl_24_get_statuses') }}",
            'urlSaveTaskInfo': "{{ path('sl_24_save_task_info') }}",
            'urlAddTask': "{{ path('sl_24_add_task') }}",
            'urlDeleteTask': "{{ path('sl_24_delete_task') }}"
        };

        var TEMPLATES = {
            'meetings': "{{ asset('bundles/sl24/templates/meetings.html') }}",
            'meeting': "{{ asset('bundles/sl24/templates/meeting.html') }}",
            'meetingEdit': "{{ asset('bundles/sl24/templates/meetingEdit.html') }}",
            'meetingsAddNew': "{{ asset('bundles/sl24/templates/meetingsAddNew.html') }}",
            'mounthAddNew': "{{ asset('bundles/sl24/templates/addNewWorkMonths.html') }}",
            'main': "{{ asset('bundles/sl24/templates/main.html') }}",
            'career': "{{ asset('bundles/sl24/templates/career.html') }}",
            'seminars': "{{ asset('bundles/sl24/templates/seminars.html') }}",
            'quotes': "{{ asset('bundles/sl24/templates/quotes.html') }}",
            'tasks': "{{ asset('bundles/sl24/templates/tasks.html') }}",
            'task': "{{ asset('bundles/sl24/templates/taskPage.html') }}",
            'team': "{{ asset('bundles/sl24/templates/team.html') }}",
            'registration': "{{ asset('bundles/sl24/templates/registration.html') }}",
            'taskTable': "{{ asset('bundles/sl24/templates/task-table.html') }}",
            'taskAgile': "{{ asset('bundles/sl24/templates/task-agile.html') }}",
            'taskAdd': "{{ asset('bundles/sl24/templates/taskAdd.html') }}",
            'taskDelete': "{{ asset('bundles/sl24/templates/taskDelete.html') }}",
            'article': "{{ asset('bundles/sl24/templates/article.html') }}",
            'fullArticle': "{{ asset('bundles/sl24/templates/fullArticle.html') }}",
            'settings': "{{ asset('bundles/sl24/templates/settings.html') }}"
        };

        //////// BEGIN MEETING URLS \\\\\\\
        URLS.getMeetings = "{{ path('sl24_getMeetings', { 'user_id': 'user_id' }) }}";
        URLS.getMeeting = "{{ path('sl24_getMeeting', { 'meeting_id': 'meeting_id' }) }}";
        URLS.saveMeeting = "{{ path('sl24_saveMeeting', { 'meeting_id': 'meeting_id' }) }}";
        URLS.removeMeeting = "{{ path('sl24_removeMeeting', { 'meeting_id': 'meeting_id' }) }}";
        URLS.getMeetingsInfo = "{{ path('sl24_getMeetingsInfo', { 'user_id': 'user_id' }) }}";
        URLS.addNewMeeting = "{{ path('sl24_addMeeting', { 'user_id': 'user_id' }) }}";
        URLS.getMeetingPosts = "{{ path('sl_24_get_posts_meetings', { 'meeting_id': 'meeting_id' }) }}";
        URLS.addMeetingPost = "{{ path('sl_24_add_post_meeting', { 'meeting_id': 'meeting_id' }) }}";
        URLS.editMeetingPost = "{{ path('sl_24_edit_post_meeting', { 'post_id': 'post_id' }) }}";
        //////// END MEETING URLS  \\\\\\\

        URLS.addNewMounth = "{{ path('sl24_addMounth') }}";
        URLS.addNewUser = "{{ path('sl_24_registration') }}";
        URLS.urlGetTeam = "{{ path('sl_24_get_team') }}";
        URLS.urlGetArticle = "{{ path('sl_24_get_article') }}";
        URLS.urlGetFullArticle = "{{ path('sl_24_get_full_article', { 'id': 0 }) }}";
        URLS.urlAddArticle = "{{ path('sl_24_add_article') }}";

        //////// BEGIN TASK URLS \\\\\\\
        URLS.getTaskPosts = "{{ path('sl_24_get_task_posts', { 'task_id': 'task_id' }) }}";
        URLS.addTaskPost = "{{ path('sl_24_add_task_post', { 'task_id': 'task_id' }) }}";
        URLS.editTaskPost = "{{ path('sl_24_edit_task_post', { 'post_id': 'post_id' }) }}";
        //////// END TASK URLS  \\\\\\\

        URLS.homepageGetInfo = "{{ path('sl24_homepage_get_info') }}";
        URLS.userHomepageGetInfo = "{{ path('sl24_another_homepage_info', { 'user_id': 0 }) }}";

        URLS.getUserSettings = "{{ path('sl24_get_settings', { 'user_id': 'user_id' }) }}";
        URLS.saveUserSettings = "{{ path('sl24_change_user_info', { 'user_id': 'user_id' }) }}";
        URLS.saveNewPass = "{{ path('sl24_save_new_pass', { 'user_id': 'user_id' }) }}";

        var USER_ID = {{ app.user.id }};
        var USER_LEVEL = {{ app.user.level }};
    </script>

    <!------------------------------------- Core module ------------------------------------->
    <script src="{{ asset('bundles/sl24/js/Custom/core.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/core.config.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/core.constants.js') }}" type="text/javascript"></script>

    <!------------------------------------- Data module ------------------------------------->
    <script src="{{ asset('bundles/sl24/js/Custom/data.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/data.constants.js') }}" type="text/javascript"></script>

    <!-------------------------------------- Services --------------------------------------->
    <script src="{{ asset('bundles/sl24/js/Custom/data.homeOffice.sevice.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/data.career.service.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/data.quotes.service.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/data.seminars.service.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/spinner.service.js') }}" type="text/javascript"></script>

    <!------------------------------------- Controllers ------------------------------------->
    <script src="{{ asset('bundles/sl24/js/Custom/app.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/homepage.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/meeting.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/singleMeeting.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/task.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/singleTask.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/team.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/registration.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/article.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/settings.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/career.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/seminars.controller.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/quotes.controller.js') }}" type="text/javascript"></script>
{% endblock %}