{% extends '@Sl24/index.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <div ng-view></div>
{% endblock %}

{% block JavaScripts %}
    {{ parent() }}
    <script>
        var TEMPLATES = {
            'meetings': "{{ asset('bundles/sl24/templates/meetings.html') }}",
            'meeting': "{{ asset('bundles/sl24/templates/meeting.html') }}",
            'meetingsAddNew': "{{ asset('bundles/sl24/templates/meetingsAddNew.html') }}",
            'main': "{{ asset('bundles/sl24/templates/main.html') }}",
            'tasks': "{{ asset('bundles/sl24/templates/tasks.html') }}",
            'team': "{{ asset('bundles/sl24/templates/team.html') }}"
        };

        URLS.getMeetings = "{{ path('sl24_getMeetings', { 'user_id': 'user_id' }) }}";
        URLS.getMeeting = "{{ path('sl24_getMeeting', { 'meeting_id': 'meeting_id' }) }}";
        URLS.getMeetingsInfo = "{{ path('sl24_getMeetingsInfo') }}";
        URLS.addNewMeeting = "{{ path('sl24_addMeeting') }}";

        var USER_ID = {{ app.user.id }};
    </script>

    <script src="{{ asset('bundles/sl24/js/Custom/appController.js') }}"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/homepageController.js') }}"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/meetingController.js') }}"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/taskController.js') }}"></script>
    <script src="{{ asset('bundles/sl24/js/Custom/teamController.js') }}"></script>
{% endblock %}