{% extends '@Sl24/layout.html.twig' %}

{% block base %}
    <base href="{{ path('sl24_homepage') }}">
{% endblock %}

{% block page %}
    {% block header %}
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation" style="color:#a71a1a !important;"></div>
            </div>
            <a href="/" class="logo"><b>SL24</b></a>

            <div class="nav pull-right notify-row" id="top_menu">
                <ul class="nav top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar" style="margin-left: -190px;">
                            <div class="notify-arrow notify-arrow-green" style="margin-left: 190px;"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox" style="margin-left: -190px;">
                            <div class="notify-arrow notify-arrow-green" style="margin-left: 190px;"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="{{ asset('bundles/sl24/img/ui-zac.jpg') }}"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="{{ asset('bundles/sl24/img/ui-divya.jpg') }}"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="{{ asset('bundles/sl24/img/ui-danro.jpg') }}"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="{{ asset('bundles/sl24/img/ui-sherman.jpg') }}"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
    {% endblock %}

    {% block leftSideBar %}
        <aside>
            <div id="sidebar"  class="nav-collapse ">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <p class="centered">
                            <a href="profile.html">
                                <img src="{{ asset('bundles/sl24/img/friends/ui-sam.jpg') }}" class="img-circle" width="60">
                            </a>
                        </p>
                        <h5 class="centered">{{ app.user.name ~ ' ' ~ app.user.surname }}</h5>
                    </li>

                    <li class="sub-menu">
                        <a href="/" >
                            <i class="fa fa-desktop"></i>
                            <span>Головна</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="/meetings" >
                            <i class="fa fa-male"></i>
                            <span>Зустрічі</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="/tasks" >
                            <i class="fa fa-tasks"></i>
                            <span>Завдання</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;" >
                            <i class="fa fa-users"></i>
                            <span>Команда</span>
                        </a>
                    </li>
                    <hr>
                    <li class="sub-menu">
                        <a href="javascript:;" >
                            <i class="fa fa-diamond"></i>
                            <span>Карєра</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" >
                            <i class="fa fa-bookmark"></i>
                            <span>Статті</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" >
                            <i class="fa fa-book"></i>
                            <span>Книги</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    {% endblock %}

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">
                    {% block body %}

                    {% endblock %}
                </div>

                {% block rightSidebar %}
                    <div class="col-lg-3 ds">
                        <!--COMPLETED ACTIONS DONUTS CHART-->
                        <!-- USERS ONLINE SECTION -->
                        <h3>Моя команда</h3>
                        <!-- First Member -->
                        <div class="desc">
                            <div class="thumb">
                                <img class="img-circle" src="{{ asset('bundles/sl24/img/ui-divya.jpg') }}" width="35px" height="35px" align="">
                            </div>
                            <div class="details">
                                <p><a href="#">DIVYA MANIAN</a><br/>
                                    <muted>Available</muted>
                                </p>
                            </div>
                        </div>
                        <!-- Second Member -->
                        <div class="desc">
                            <div class="thumb">
                                <img class="img-circle" src="{{ asset('bundles/sl24/img/ui-sherman.jpg') }}" width="35px" height="35px" align="">
                            </div>
                            <div class="details">
                                <p><a href="#">DJ SHERMAN</a><br/>
                                    <muted>I am Busy</muted>
                                </p>
                            </div>
                        </div>
                        <!-- Third Member -->
                        <div class="desc">
                            <div class="thumb">
                                <img class="img-circle" src="{{ asset('bundles/sl24/img/ui-danro.jpg') }}" width="35px" height="35px" align="">
                            </div>
                            <div class="details">
                                <p><a href="#">DAN ROGERS</a><br/>
                                    <muted>Available</muted>
                                </p>
                            </div>
                        </div>
                        <!-- Fourth Member -->
                        <div class="desc">
                            <div class="thumb">
                                <img class="img-circle" src="{{ asset('bundles/sl24/img/ui-zac.jpg') }}" width="35px" height="35px" align="">
                            </div>
                            <div class="details">
                                <p><a href="#">Zac Sniders</a><br/>
                                    <muted>Available</muted>
                                </p>
                            </div>
                        </div>
                        <!-- Fifth Member -->
                        <div class="desc">
                            <div class="thumb">
                                <img class="img-circle" src="{{ asset('bundles/sl24/img/ui-sam.jpg') }}" width="35px" height="35px" align="">
                            </div>
                            <div class="details">
                                <p><a href="#">Marcel Newman</a><br/>
                                    <muted>Available</muted>
                                </p>
                            </div>
                        </div>


                        <!-- CALENDAR-->
                        <h3>Календарь</h3>
                        <div id="calendar" class="mb">
                            <div class="panel green-panel no-margin">
                                <div class="panel-body">
                                    <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" style="disadding: none;"></h3>
                                        <div id="date-popover-content" class="popover-content"></div>
                                    </div>
                                    <div id="my-calendar"></div>
                                </div>
                            </div>
                        </div><!-- / calendar -->

                        <h3>Цитата</h3>
                        <br>
                        <blockquote class="blockquote-reverse">
                            <p>
                                Мені тринадцятий минало.

                                Я пас ягнята за селом.

                                Чи то так сонечко сіяло,

                                Чи так мені чого було?
                            </p>
                            <footer>Шева сказанул</footer>
                        </blockquote>
                    </div>
                {% endblock %}
            </div>
        </section>
    </section>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}