{% extends '@Sl24/layout.html.twig' %}

{% block base %}
    <base href="{{ path('sl24_homepage') }}">
{% endblock %}

{% block page %}
    {% block header %}
        <nav class="navbar navbar-default" style="margin-bottom:0;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Переключити навігацію</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SL24</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">

                        <li id="fat-menu" class="dropdown">
                            <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope fa-fw"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li>
                                    <a href="#">
                                        <div>
                                            <strong>
                                                John Smith
                                            </strong>

                                        </div>
                                        <div>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing…
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <strong>
                                                John Smith
                                            </strong>

                                        </div>
                                        <div>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing…
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="text-center" href="#">
                                        <strong>Прочитати всі повідомлення</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li id="fat-menu" class="dropdown">
                            <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('bundles/sl24/img/friends/fr-01.jpg') }}" height="20px">
                                {{ app.user.name ~ ' ' ~ app.user.surname }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('sl24_logout') }}" tabindex="-1" target="_self">
                                        Вихід
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3 class="clock">20:24<sup>58</sup></h3>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}

    <div class="row">
        {% block leftSideBar %}
            <div class="col-md-2 left-sitebar">
                <ul class="sidebar-menu">
                    <li>
                        <p class="text-center">
                            <img class="img-circle" width="60" src="{{ asset('bundles/sl24/img/friends/fr-01.jpg') }}" />
                        </p>

                        <h5 class="text-center">
                            {{ app.user.name ~ ' ' ~ app.user.surname }}
                        </h5>
                        <p align="center">
                            <i class="fa fa-pencil" style="font-size: 22px;"></i>
                            <i class="fa fa-book" style="font-size: 22px;"></i>
                            <i class="fa fa-diamond" style="font-size: 22px;"></i>
                            <i class="fa fa-clock-o" style="font-size: 22px;"></i>
                        </p>
                    </li>

                    <li>
                        <hr style="margin: 0;"/>
                    </li>

                    <li class="sub-menu">
                        <a href="/">
                            <i class="fa fa-desktop"></i>
                            Головна
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="/meetings">
                            <i class="fa fa-male"></i>
                            Зустрічі
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/tasks">
                            <i class="fa fa-tasks"></i>
                            Завдання
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/team">
                            <i class="fa fa-users"></i>
                            Команда
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/register">
                            <i class="fa fa-users"></i>
                            Додати консультанта
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-diamond"></i>
                            Карєра
                        </a>
                    </li>
                    <li><hr style="margin:0;"></li>
                    <li class="sub-menu">
                        <a href="/article">
                            <i class="fa fa-bookmark"></i>
                              <span>
                                Статті
                              </span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                              <span>
                                Книги
                              </span>
                        </a>
                    </li>
                    <li><hr style="margin:0px;"></li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-graduation-cap"></i>
                  <span>
                    Семінари
                  </span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-tags"></i>
                  <span>
                    Цитати
                  </span>
                        </a>
                    </li>
                    <li>
                        <hr style="margin:0;">
                    </li>
                </ul>
            </div>
        {% endblock %}

        <div class="col-md-7 main-content" style="border-left: 1px solid #EEE;">
            {% block body %}

            {% endblock %}
        </div>

        {% block rightSidebar %}
            <div class="col-md-3 right-sitebar">
                <div class="row">
                    {% if parents | length > 0 %}
                    <h3>Мої структурні</h3>
                    <div class="desc">
                        {% for parent in parents %}
                            <a style="display: block;">
                                <div class="thumb">
                                    <img class="img-circle" src="{{ asset('bundles/sl24/img/ui-divya.jpg') }}" width="35px" height="35px">
                                </div>
                                <div class="details">
                                    <p>
                                        <br>{{ parent.name ~ ' ' ~ parent.surname }}<br/>
                                        <muted>I am Busy</muted>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <h3>Цитата</h3>
                </div>

                <br>
                <blockquote class="blockquote-reverse">
                    <p>
                        Мені тринадцятий минало.

                        Я пас ягнята за селом.

                        Чи то так сонечко сіяло,

                        Чи так мені чого було?
                    </p>
                    <footer>Шева сказанул</footer>
                </blockquote>
            </div>
        {% endblock %}
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}